* {
    box-sizing: border-box;
}

h4
{
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

h2
{
    font-family: 'Sansita Swashed', cursive;
}

.column {
    float: left;
    width: 95%;
    padding: 8px;
    height: 360px;
    border: 4px solid white;
    border-radius: 20px;
    margin: auto;
}

.row {
    display: grid;
    grid-template-rows: 33.5% 36%;
    padding: 40px;
    grid-area: auto;
}

.column:hover
{
    border: 3px solid white;
}   