a+h2 {
    color: white;
}

main {
    background-image: url("../background.jpg");
}


.contact {
    background-color: lightslategrey;
    line-height: 2.0;
    font-family: 'Sansita Swashed', cursive;
}

.contact h2 {
    margin-left: 40%;
    font-size: 50px;
}

.contact h3 {
    margin-left: 38.5%;
    font-size: 30px;
}

.contact .contact-h4 {
    margin-left: 42%;
}

form {
    display: grid;
    width: 400px;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 0.5em;
    color: white;
    margin-left: 36%;
    margin-top: 3%;
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
}

.myInput-help {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput-name {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput-email {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput2 {
    position: absolute;
    min-width: 22%;
    height: 20%;
    top: 0%;
    right: 0%;
    z-index: 10;
    background-color: #CCC;
    border: 1px solid grey;
}

input[type=email],
input[type=text],
textarea {
    display: inline-block;
    padding: 10px;
}

#submit {
    padding: 12px;
    background-color: #613A3A;
    color: white;
    font-size: 15px;
}

#submit:hover {
    border: 3px solid white;
    border-radius: 5px;
}