*{
    padding: 0;
    margin: 0;
}

body
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "nav"
                        "main"
                        "footer";
}

nav
{
    background-color: gray;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    font-family: 'Sansita Swashed', cursive;
}

nav ul
{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    list-style: none;
}

li
{
    display: block;
}
ul li:hover
{
    border: 0.2em solid white;
}

section
{
    background-color: lightslategrey;
    line-height: 2.0;
}

section h2
{
    margin-left: 40%;
    font-size: 50px;
}

section h3
{
    margin-left: 38.5%;
    font-size: 30px;
}

section h4
{
    margin-left: 42%;
}

form {
    display: grid;
    width: 400px;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 0.5em;
}