*{
    padding: 0;
    margin: 0;
}

body
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "nav"
                         "header"
                        "main"
                        "footer";
}

li
{
    display: block;
}

.nav1
{
    height: 30vh;
    border: 1px solid red;
    background-image: url(images\download (6).jpg);
}