.sec1 {
    height: 30vh;
    grid-area: auto;
    border: 1px solid red;
    background-size: cover;
    background-position: 0 -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
    text-shadow: 2px 2px #ff0000;
}

main {

    /*background-color: black;*/
    color: white;
    grid-area: main;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Supermercado One', cursive;

    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5em;
}

main img {
    width: 100%;
    border-radius: 1em;
    border: 0.2em solid white;
    height: 90%;
}

main img:hover {
    border: 0.2em solid red;
}

main section {
    margin: 2em;
}