main {

    /*background-color: black;*/
    color: white;
    grid-area: main;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Supermercado One', cursive;

    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5em;
}

main img {
    width: 393px;
    height: 393px;
    border-radius: 50%;
}

main img:hover {
    border: 0.2em solid red;
}

main section {
    margin: 2em;
}