/* * {
    box-sizing: border-box;
} */

body {
    display: grid;
    margin-top: -0.5%;
}

header {
    background-image: url(../background.jpg);
    color: white;
    /* padding: 12px; */
    font-weight: bold;
    font-size: 18px;
}

.sec2 {
    border: 12%;
}

main {
    background-color: purple;
    color: white;
    padding-bottom: 171%;
}

.sec1 {
    height: 13vh;
    grid-area: auto;
    border: 1px solid red;
    background-size: cover;
    background-position: 0px 184px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-size: 2em;
    text-shadow: 2px 2px #ff0000;
}

.lower-nav li {
    list-style: none;
    padding: 15px;
    font-size: 25px;
}

footer {
    background-color: white;
    color: black;
}

.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.3em solid white;
    border-bottom: 0.3em solid white;
    border-radius: 0.1em;
    margin-left: 2%;
    margin-bottom: 5%;
    /* grid-area: shownav; */
    margin-top: 3%;
}

.shownav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}

.lower-nav {
    background-color: grey;
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.hamburger {
    margin-left: 93%;
    margin-top: 2%;
}

#showNav .on {
    display: block;
}

#showNav .close-tab {
    display: none;
}

#showNav:target .on {
    display: none;

}

#showNav:target .close-tab {
    display: block;
}

#showNav:target .lower-nav {
    display: block;
}

.close-tab {
    display: block;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-left: 6px;
    justify-content: start;
}

.index-main .self-image-main {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 18%;
    margin-top: 5%;
}

/* 
.ham {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    margin-left: 350px;
} */

/* nav {
    display: none;
} */

.secondh2 {
    margin-top: 7%;
}

li+a {
    display: block;
    justify-content: space-around;
}

.p2 {
    color: white;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
}

.column {
    float: left;
    width: 101%;
    padding: 13px;
    height: 678px;
    border-radius: 30px;
    margin: auto;
    margin-top: -5%;
    margin-left: -5%;
}

.row {
    display: grid;
    grid-template-rows: 54%;
    padding: 40px;
    grid-area: auto;
}

.row1 {
    display: grid;
    grid-template-rows: 36% 36%;
    padding: 40px;
    grid-area: auto;
}

.column:hover {
    border: 3px solid white;
}

a+h2 {
    color: white;
}

main {
    background-image: url("../background.jpg");
}


.contact {
    background-color: lightslategrey;
    line-height: 1.6;
    font-family: 'Sansita Swashed', cursive;
    color: black;
}

.contact h2 {
    margin-left: 13%;
    font-size: 50px;
}

.contact h3 {
    margin-left: 11.5%;
    font-size: 32px;
}

.contact .contact-h4 {
    margin-left: 17%;
    font-size: 18px;
}

form {
    display: grid;
    width: 352px;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 0.5em;
    color: white;
    margin-left: 7%;
    margin-top: 3%;
    font-size: 15px;
    font-family: 'Sansita Swashed', cursive;
}

.myInput-help {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput-name {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput-email {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput2 {
    position: absolute;
    min-width: 22%;
    height: 20%;
    top: 0%;
    right: 0%;
    z-index: 10;
    background-color: #CCC;
    border: 1px solid grey;
}

input[type=email],
input[type=text],
textarea {
    display: inline-block;
    padding: 10px;
}

#submit {
    padding: 12px;
    background-color: #613A3A;
    color: white;
    font-size: 15px;
}

#submit:hover {
    border: 3px solid white;
    border-radius: 5px;
}

h4 {
    margin-left: 28%;
    font-size: 28px;
    font-family: 'Sansita Swashed', cursive;
}

.programming-img {
    width: 260px;
    height: 260px;
    border-radius: 140px;
    margin-left: 30%;
    margin-left: 10%;
    margin-top: 1%;
}

.index-img-site-report {
    width: 98%;
    border-radius: 1%;
    height: 39px;
    margin-left: 0%;
}

.index-img2-site-report {
    width: 99%;
    border-radius: 1%;
    height: 206px;
    margin-left: 0%;
}

.index-validation-site-report {
    width: 94%;
    border-radius: 1%;
    margin-left: 0%;
    height: 206px;
}