body {
    display: grid;
    margin-top: -0.5%;
}

header {
    background-image: url(../background.jpg);
    color: white;
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
}

.ul {
    background-color: yellow;
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

.sec2 {
    border: 12%;
}

main {
    background-color: purple;
    color: white;
    padding-bottom: 171%;
}

.sec1 {
    height: 13vh;
    grid-area: auto;
    border: 1px solid red;
    background-size: cover;
    background-position: 0px 184px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-size: 2em;
    text-shadow: 2px 2px #ff0000;
}

footer {
    background-color: white;
    color: black;
}

/* .shownav
{
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
    margin-left: -2%;
    margin-bottom: 5%;
    grid-area: shownav;
}

.shownav::before
{
  content: '';
  position: absolute;
  width: 1.25em;
  margin-top: 0.3em;
  border-top: 0.2em solid #fff;
} */

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
    margin: 6px 0;
    margin-left: 350px;
}

#clicked:target ul {
    display: block;
}

main img
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 8%;
}
.ham {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    margin-left: 350px;
}

nav {
    display: none;
}
.secondh2
{
    margin-top: 7%;
}