body {
    display: grid;
    margin-top: -0.5%;
}

header {
    background-image: url(../background.jpg);
    color: white;
    /* padding: 12px; */
    font-weight: bold;
    font-size: 18px;
}

.ul {
    background-color: yellow;
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

.sec2 {
    border: 12%;
}

main {
    background-color: purple;
    color: white;
    padding-bottom: 171%;
}

.sec1 {
    height: 13vh;
    grid-area: auto;
    border: 1px solid red;
    background-size: cover;
    background-position: 0px 184px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-size: 2em;
    text-shadow: 2px 2px #ff0000;
}

footer {
    background-color: white;
    color: black;
}

/* .shownav
{
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
    margin-left: -2%;
    margin-bottom: 5%;
    grid-area: shownav;
}

.shownav::before
{
  content: '';
  position: absolute;
  width: 1.25em;
  margin-top: 0.3em;
  border-top: 0.2em solid #fff;
} */

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
    margin: 6px 0;
    margin-left: 350px;
}

#clicked:target ul {
    display: block;
}

main img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 8%;
}

.ham {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    margin-left: 350px;
}

/* nav {
    display: none;
} */

.secondh2 {
    margin-top: 7%;
}

.list {
    display: block;
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

li + a {
    display: block;
    justify-content: space-around;
}

* {
    box-sizing: border-box;
}

.p2 {
    color: white;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
}

.column {
    float: left;
    width: 110%;
    padding: 13px;
    height: 412px;
    border-radius: 27px;
    margin: auto;
    margin-top: -5%;
    margin-left: -5%;
}

.row {
    display: grid;
    grid-template-rows: 54%;
    padding: 40px;
    grid-area: auto;
}

.row1
{
    display: grid;
    grid-template-rows: 36% 36%;
    padding: 40px;
    grid-area: auto;
}

.column:hover
{
    border: 3px solid white;
}

a+h2 {
    color: white;
}

main {
    background-image: url("../background.jpg");
}


.contact {
    background-color: lightslategrey;
    line-height: 2.0;
    font-family: 'Sansita Swashed', cursive;
}

.contact h2 {
    margin-left: 17%;
    font-size: 50px;
}

.contact h3 {
    margin-left: 11.5%;
    font-size: 30px;
}

.contact h4 {
    margin-left: 21%;
}

form {
    display: grid;
    width: 352px;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 0.5em;
    color: white;
    margin-left: 7%;
    margin-top: 3%;
    font-size: 15px;
    font-family: 'Sansita Swashed', cursive;
}

.myInput {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput2 {
    position: absolute;
    min-width: 22%;
    height: 20%;
    top: 0%;
    right: 0%;
    z-index: 10;
    background-color: #CCC;
    border: 1px solid grey;
}

input[type=email],
input[type=text],
textarea {
    display: inline-block;
    padding: 10px;
}

#submit {
    padding: 12px;
    background-color: #613A3A;
    color: white;
    font-size: 15px;
}

#submit:hover {
    border: 3px solid white;
    border-radius: 5px;
}