*{
    padding: 0;
    margin: 0;
}

body
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "nav"
                        "main"
                        "footer";
}

nav
{
    background-color: gray;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    font-family: 'Sansita Swashed', cursive;
}

nav ul
{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    list-style: none;
}

li
{
    display: block;
}
ul li:hover
{
    border: 0.2em solid white;
}
section
{
    color: white;
}
p{
    color: white;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}