* {
    box-sizing: border-box;
}

.p2 {
    color: white;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
}

.column {
    float: left;
    width: 49%;
    padding: 10px;
    height: 522px;
    border-radius: 20px;
    margin: auto;
}

.row {
    display: flex;
    padding: 40px;
}

.column:hover {
    border: 3px solid white;
}

.programming-img {

    width: 260px;
    height: 260px;
    border-radius: 140px;
    margin-left: 30%;

}