/* ========== GENERAL PAGE ===============*/

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "nav"
        "main"
        "footer";
}
.close-tab {
    display: none;
}

nav {
    background-color: gray;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    font-family: 'Sansita Swashed', cursive;
    padding-top: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    list-style: none;
}

ul li a {
    text-decoration: none;
}

ul li:hover {
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    background-color: white;
    height: 22px;


}

.sec1 {
    height: 30vh;
    grid-area: auto;
    border: 1px solid white;
    background-size: cover;
    background-position: 0 -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
    text-shadow: 2px 2px #ff0000;
}

.h2 {
    background-image: url(../background.jpg);
    color: white;
}

main {
    background-image: url(../background.jpg);
}

footer {
    text-align: center;
    /* display: grid; */
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    padding: 30px;
    grid-area: footer;
}

.sec3 {
    height: 30%;
}

.sec4 {
    height: 27%;
}

.sec5 {
    height: 30%;
}

.sec2 {
    height: 160px;
}

.list {
    padding-top: 0.3%;
}

/* ================== INDEX PAGE ================= */

.index-main {

    /*background-color: black;*/
    color: white;
    grid-area: main;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Supermercado One', cursive;

    display: grid;
    /* grid-template-columns: 30% 70%;
    padding: 5em; */
}

.index-p{
    font-size: 40px;
}
.index-main .self-image-main {
    width: 393px;
    height: 393px;
    border-radius: 50%;
    margin-left: 37%;
    margin-top: 2%;
}

.index-main .self-image-main:hover {
    border: 0.2em solid red;
}

.index-main section {
    margin: 2em;
}
/* ========= SITE REPORT ==============*/
.h2-site-report
{
    color: white;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
.p-site-report
{
    color: white;
    margin: 1%;
    font-size: 20px;
}
.index-img-site-report {
    width: 60%;
    align-content: right;
}

.index-img2-site-report {
    align-content: right;
    width: 40%;
}
.index-validation-site-report {
    align-content: right;
    width: 45%;
    height: 40%;
}

.portfolio-img-site-report {
    align-content: right;
    width: 40%;
}

.portfolio-validation-site-report {
    align-content: right;
    width: 40%;
}

.contact-img-site-report {
    align-content: right;
    width: 40%;
}

/* ========BLOG PAGE =========*/

* {
    box-sizing: border-box;
}

h4
{
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

h2
{
    font-family: 'Sansita Swashed', cursive;
}

.column-blog {
    float: left;
    width: 95%;
    padding: 8px;
    height: 360px;
    border: 4px solid white;
    border-radius: 20px;
    margin: auto;
}

.blog-row {
    display: grid;
    grid-template-rows: 33.5% 36%;
    padding: 40px;
    grid-area: auto;
}

.column-blog:hover
{
    border: 3px solid white;
}   

/* ============PORTFOLIO PAGE ===================== */

.p2-portfolio {
    color: white;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
}

.column-portfolio {
    float: left;
    width: 49%;
    padding: 10px;
    height: 522px;
    border-radius: 20px;
    margin: auto;
}

.row-portfolio {
    display: flex;
    padding: 40px;
}

.column-portfolio:hover {
    border: 3px solid white;
}

.programming-img {

    width: 260px;
    height: 260px;
    border-radius: 140px;
    margin-left: 30%;

}
/* =========== CONTACT PAGE ================ */
a+h2 {
    color: white;
}

.contact {
    background-color: lightslategrey;
    line-height: 2.0;
    font-family: 'Sansita Swashed', cursive;
}

.contact h2 {
    margin-left: 45%;
    font-size: 50px;
}

.contact h3 {
    margin-left: 43%;
    font-size: 30px;
}

.contact .contact-h4 {
    margin-left: 6%;
    color: black;
}

form {
    display: grid;
    width: 400px;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 0.5em;
    color: white;
    margin-left: 39%;
    margin-top: 3%;
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
}

.myInput-help {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput-name {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput-email {
    border: 1px solid gray;
    border-radius: 2em;
}

.myInput2 {
    position: absolute;
    min-width: 22%;
    height: 20%;
    top: 0%;
    right: 0%;
    z-index: 10;
    background-color: #CCC;
    border: 1px solid grey;
}

input[type=email],
input[type=text],
textarea {
    display: inline-block;
    padding: 10px;
}

#submit {
    padding: 12px;
    background-color: #613A3A;
    color: white;
    font-size: 15px;
}

#submit:hover {
    border: 3px solid white;
    border-radius: 5px;
}