* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "nav"
        "main"
        "footer";
}
.close-tab {
    display: none;
}

nav {
    background-color: gray;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    font-family: 'Sansita Swashed', cursive;
    padding-top: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    list-style: none;
}

ul li a {
    text-decoration: none;
}

ul li:hover {
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    background-color: white;
    height: 22px;


}

.sec1 {
    height: 30vh;
    grid-area: auto;
    border: 1px solid white;
    background-size: cover;
    background-position: 0 -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
    text-shadow: 2px 2px #ff0000;
}

.h2 {
    background-image: url(../background.jpg);
    color: white;
}

main {
    background-image: url(../background.jpg);
}

.index-main {

    /*background-color: black;*/
    color: white;
    grid-area: main;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Supermercado One', cursive;

    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5em;
}

.index-main .self-image-main {
    width: 393px;
    height: 393px;
    border-radius: 50%;
}

.index-main .self-image-main:hover {
    border: 0.2em solid red;
}

.index-main section {
    margin: 2em;
}

footer {
    text-align: center;
    /* display: grid; */
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    padding: 30px;
    grid-area: footer;
}

.sec3 {
    height: 30%;
}

.sec4 {
    height: 27%;
}

.sec5 {
    height: 30%;
}

.sec2 {
    height: 160px;
}

.list {
    padding-top: 0.3%;
}

.h2-site-report
{
    color: white;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
.p-site-report
{
    color: white;
    margin: 1%;
    font-size: 20px;
}
.index-img-site-report {
    width: 60%;
    align-content: right;
}

.index-img2-site-report {
    align-content: right;
    width: 40%;
}
.index-validation-site-report {
    align-content: right;
    width: 45%;
    height: 40%;
}